.confirmation {
  padding: 20px;
  border: 1px solid #7b61ff;
  border-radius: 10px;
  &__icon {
    width: 60px;
    height: 60px;
  }
  &__list {
    font-size: 19px;
    margin-bottom: 30px;
  }
  &__list li:not(:last-of-type) {
    margin-bottom: 20px;
  }
  &__title {
    font-size: 33px;
    margin-bottom: 30px;
    color: #00a340;
  }
}

.maketingeam {
  width: 75px;
  height: 50px;
  margin: 0 auto;
  background: #87bcff;
  position: relative;
  transform-style: preserve-3d;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}
.maketingeam:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 35px solid Transparent;
  border-right: 37.5px solid #7b61ff;
  border-top: 25px solid Transparent;
  border-bottom: 25px solid #7b61ff;
  z-index: 5;
  border-bottom-right-radius: 2.5px;
}
.maketingeam:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 37.5px solid #b187cd;
  border-right: 35px solid Transparent;
  border-top: 25px solid Transparent;
  border-bottom: 25px solid #7b61ff;
  z-index: 4;
  border-bottom-left-radius: 2.5px;
}
.nimationesta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
  border-top: 25px solid #c5add5;
  border-bottom: 25px solid transparent;
  z-index: 6;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: all 1s 1s ease;
}
.paneatuConveg {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 5px;
  background: #d2cdcd;
  width: 70px;
  height: 45px;
  border-radius: 5px;
  transition: all 1s ease;
}
.paneatuConveg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #7b61ff;
  font-weight: 900;
}
.maketingeam:hover .nimationesta:before {
  transform: rotateX(180deg);
  transition: all 1s ease;
  z-index: 2;
}
.maketingeam:hover .paneatuConveg {
  top: -20px;
  transition: all 1s 1s ease;
}
