.search__wrapper {
  width: calc(100% - 313px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
  gap: 31px;
  margin-bottom: 64px;
}
.search {
  &__notFound {
    width: 28%;
    margin: 0 auto;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__notFound__img {
    margin-bottom: 20px;
  }
  &__notFound__text {
    text-align: center;
    font-size: 22px;
    color: #c5add5;
  }
}
.spinner {
  width: 90px;
  height: 90px;
  border: 10px solid rgb(123, 97, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &__wrapper {
    position: absolute;
    left: 50%;
    top: 35%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
