.movies {
  height: 100%;
  width: calc(100% - 300px);
  padding-bottom: 35px;
  &__wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(266px, 1fr));
    gap: 31px;
    margin-bottom: 64px;
  }
  &__btnWrapper {
    display: flex;
    justify-content: center;
  }
  &__show_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    padding: 8px 24px;
    background-color: #323537;
    font-weight: 500;
  }
}

.spinner {
  width: 80px;
  height: 80px;
  border: 8px solid rgb(123, 97, 255);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  &__wrapper {
    width: 6%;
    margin: 10% auto;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
