.user {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 17px 30px;
  font-size: 16px;
  color: #fff;
  &__avatar {
    padding: 10px;
    border-radius: 3px;
    background-color: #7b61ff;
  }
  &__name {
    display: flex;
    gap: 5px;
  }
  &:hover &__name {
    color: #7b61ff;
  }
  &:hover &__avatar {
    background-color: #917bfc;
  }
  &:hover &__avatar svg path,
  &:hover .arrowRight svg path {
    fill: #7b61ff;
  }
  &:hover &__avatar svg path {
    stroke: #000;
  }
}
