.activation {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 35px;
  &__title {
    white-space: nowrap;
    font-size: 45px;
    text-align: center;
  }
  &__icon {
    width: 60px;
    height: 60px;
  }
}
