svg {
  position: absolute;
}
.hamburger_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  padding: 35px 32px;
  background-color: #7b61ff;
  cursor: pointer;
}
