@import "../../scss/variables";

.header {
  &__container {
    display: flex;
    align-items: center;
    padding: 0;
  }
  &__logo {
    margin-right: 140px;
  }
  &__search {
    position: relative;
    width: 1184px;
    margin-right: 41px;
  }
  &__search__input {
    width: 100%;
    padding: 16px 20px;
    font-size: 21px;
    border-radius: 10px;
    background-color: #323537;
    &::placeholder {
      font-size: 16px;
    }
  }
  &__search__filter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    &Indicator {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #7b61ff;
    }
  }
}
.header.light {
  .header {
    &__search__input {
      background: #fff;
      border: 2px solid $light-gray;
      color: #000;
      &:focus {
        border: 2px solid $light-black;
      }
    }
  }
}
.hamburger_menu {
  display: none;
}

@media (max-width: 1100px) {
  .header {
    &__logo {
      margin-right: 80px;
    }
    &__search {
      width: 65%;
      margin-right: 32px;
    }
  }
  .hamburger_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 16px;
    background-color: $primary-purple;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .header {
    &__container {
      position: relative;
      flex-wrap: wrap;
    }
    &__logo {
      margin: 0 0 35px 0;
      order: 0;
    }
    &__search {
      width: 100%;
      margin-right: 0;
      order: 2;
    }
  }
  .hamburger_menu {
    position: absolute;
    right: 0;
    top: 0px;
    order: 1;
  }
}
@media (max-width: 500px) {
  .header {
    padding: 50px 0 30px;
  }
}
