.header {
  &__container {
    display: flex;
    align-items: center;
    padding: 0;
  }
  &__logo {
    margin-right: 140px;
  }
  &__search {
    position: relative;
    width: 1184px;
    margin-right: 41px;
  }
  &__search__input {
    width: 100%;
    padding: 16px 20px;
    font-size: 21px;
    border-radius: 10px;
    background-color: #323537;
    &::placeholder {
      font-size: 16px;
    }
  }
  &__search__filterWrap {
  }
  &__search__filter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    &Indicator {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #7b61ff;
    }
  }
}
