label {
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 10px;
  background-color: #323537;
}

input:not(:last-of-type) {
  margin-bottom: 24px;
}

.signIn {
  width: 574px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  background-color: #242426;
  border-radius: 10px;
  &__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 40px;
  }
  &__forgot {
    color: #80858b;
  }
  &__btn {
    width: 100%;
    margin: 40px 0 32px;
    background-color: #7b61ff;
  }
  &__registration {
    text-align: center;
  }
}
