@import "../../scss/global";

.favorites {
  @include section();
  width: 100%;
  &__wrapper.few {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
  }
}
.favoritesEmpty {
  position: absolute;
  left: 54%;
  top: 28%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  &__text {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
  }
}
.favoritesEmpty.light {
  .favoritesEmpty {
    &__text {
      color: #000;
    }
  }
}
@media (max-width: 500px) {
  .favoritesEmpty {
    width: 60%;
    top: 35%;
  }
}
