@import "../../scss/variables";
@import "../../components/Navbar/Navbar.module.scss";

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 400px;
  height: 100%;
  padding: 55px 15px;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.9s ease;
  background: #3a3a3b;
  z-index: 100;
  & .profile,
  & .navbarMenu {
    display: flex;
    width: 100%;
  }
  & .profile {
    margin-bottom: 50px;
  }
  &.open {
    transform: translateX(0);
  }
}
