@mixin icon-before($icon-path) {
  &::before {
    content: url($icon-path);
    position: absolute;
    left: 0;
  }
}

.navbar {
  width: 313px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 30px;
  &__item {
    position: relative;
    margin-bottom: 40px;
    padding-left: 41px;
    &:nth-child(1) {
      @include icon-before("../../assets/navbar/home-icon.svg");
    }
    &:nth-child(2) {
      @include icon-before("../../assets/navbar/trends-icon.svg");
    }
    &:nth-child(3) {
      @include icon-before("../../assets/navbar/favorites-icon.svg");
    }
    &:nth-child(4) {
      @include icon-before("../../assets/navbar/settings-icon.svg");
    }
    &_active {
      color: #7b61ff;
    }
    &_nonActive {
      color: #80858b;
    }
  }
  &__copyright {
    margin-top: auto;
  }
}
