label {
  display: inline-block;
  margin-bottom: 8px;
}
input {
  padding: 16px 20px;
  font-size: 18px;
  color: #e1dddd;
}

.filterMenu {
  padding: 48px 40px;
  position: absolute;
  top: 0;
  right: 0;
  width: 27%;
  height: 100%;
  background-color: #242426;
  color: #fff;
  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 48px;
  }
  &__inputWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
  }
  &__searchBtn,
  &__clearFilters {
    padding: 17px 50px;
    background-color: #7b61ff;
  }
  &__clearFilters {
    background-color: #323537;
  }
  &__actions {
    display: flex;
    margin-top: auto;
    gap: 40px;
  }
}

.closeBtn {
  position: absolute;
  right: 40px;
  top: 48px;
}

form {
  margin-bottom: 110px;
}
